
<header class="h1_tabletennis">
    卓球練習管理
</header>

<h1 class="center_position">~現在の練習メニュー~</h1>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<h1 class="title_1">練習一覧 / 練習新規追加</h1>
<div class="center_position">
  <button type="button" class="btn btn-success" id="show-selected">現在の練習メニューに追加</button>
</div>

<div class="post-list">
  <% @posts.each do |post| %>
    <div class="post">
    <input type="checkbox" name="selected_posts[]" value="<%= post.id %>">
      <a class="post" href="<%= edit_post_path(post) %>">
        <div class="header">
          <h2 class="title"><%= post.title %></h2>
          <p class="timestamp"><%= post.created_at.strftime("%B %d, %Y") %></p>
        </div>
      </a>
    </div>
  <% end %>
</div>

<div class="text-center">
  <%= link_to "ホーム画面に戻る", tabletennis_index_path, class: "btn btn-link" %>
</div>





<div class="post-list">
  <% @posts.each do |post| %>
    <% if post.add == 1 %>
      <div class="post">
        <a class="post" href="<%= edit_post_path(post) %>">
          <div class="header">
            <h2 class="title"><%= post.title %></h2>
            <p class="timestamp"><%= post.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </a>
      </div>
    <% end %>
  <% end %>
</div>


<%= form_tag(add_path, method: :post) do %>
  <div class="center_position">
    <button type="submit" class="btn btn-success" id="show-selected">現在の練習メニューに追加</button>
  </div>

  <div class="post-list">
    <% @posts.each do |post| %>
      <div class="post">
        <input type="checkbox" name="selected_posts[]" value="<%= post.id %>">
        <a class="post" href="<%= edit_post_path(post) %>">
          <div class="header">
            <h2 class="title"><%= post.title %></h2>
            <p class="timestamp"><%= post.created_at.strftime("%B %d, %Y") %></p>
          </div>
        </a>
      </div>
    <% end %>
  </div>
<% end %>
