
<header class="h1_tabletennis">
    卓球練習管理
</header>

<h1 class="title_1">~現在の練習メニュー~</h1>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<h1 class="title_1">練習一覧 / 練習新規追加</h1>


<div class="post-list">
    <% @posts.each do |post| %>
        <a class="post" href="<%= edit_post_path(post) %>">
            <div class="header">
                <h2 class="title"><%= post.title %></h2>    
                <p class="timestamp"><%= post.created_at.strftime("%B %d, %Y") %></p>
            </div>
            <div class="body">
                <p class="content"><%= post.body %></p>
            </div>
            <div class="image">
                <%=image_tag(post.image) if post.image.attached? %>
            </div>
        </a>
    <% end %>    
</div>

<div class="text-center">
<%= link_to "ホーム画面に戻る", tabletennis_index_path, class: "btn btn-link" %>
</div>



