<header class="h1_tabletennis">
  卓球練習管理
</header>

<h1 class="title_underline">
    練習時間累計
</h1>

<div class="total-time_1">
    <div class="text-center">全期間の合計時間</div>
    <div class="text-center"><%= @total_time_all %></div>
</div>
<div class="total-time_2">
    <div class="text-center">直近１ヶ月の合計時間</div>
    <div class="text-center"><%= @total_time_month %></div>
</div>
<div class="total-time_3">
    <div class="text-center">直近1週間の合計時間</div>
    <div class="text-center"><%= @total_time_week %></div>
</div>

<body>
    <div class="time-container">
        <h1 class="practice_time">練習時間入力</h1>
        <button class="time-button">
            <%= link_to "練習時間履歴", time_index_path %>
        </button>
    </div>
</body>

<div class="d-flex justify-content-center">
    <%= form_with model: Tabletennistime, url: tabletennis_index_path, method: :post do |f| %>
        <div class="form-group ">
            <%= f.label :date, "日付" %>
            <%= f.date_field :date, class: 'form-control', required: true %>

            <%= f.label :hour, "時間" %>
            <%= f.select :hour, (0..8), { include_blank: '時間を入力（最大8時間）' }, { required: true, class: 'form-control' } %>

            <%= f.label :minutes, "分" %>
            <%= f.select :minutes, [0, 15, 30, 45], { include_blank: '分を入力（15分毎）' }, { required: true, class: 'form-control' } %>
        </div>

        <div class="text-center">
            <%= f.submit "練習時間を保存", class: 'button-003' %>
        </div>
    <% end %>
</div>



<h1 class="center_position">~現在の練習メニュー~</h1>

<div class="center_position">
  <% if @selected_posts.present? %>
    <% @selected_posts.each do |post| %>
      <div class="practice">
        <div class="post-title-container" style="display: flex; justify-content: space-between;">
          <h2><%= post.title %></h2>
          <%= post.add %>
          <%= link_to '削除', remove_post_path(post), method: :patch, class: 'delete-button' %>
        </div>
      </div>
    <% end %>
  <% else %>
    <p>選択された練習はありません</p>
  <% end %>
</div>

<div class="text-center">
    <%= link_to "練習一覧はこちら", index_post_path, class: "btn btn-link" %>
</div>
