<header class="h1_tabletennis">
  卓球練習管理
</header>

<h1 class="title_underline">
    練習時間累計
</h1>

<div class="total-time_1">
    <div class="text-center">累積</div>
    <div class="text-center">時間</div>
</div>
<div class="total-time_2">
    <div class="text-center">今月</div>
    <div class="text-center">時間</div>
</div>
<div class="total-time_3">
    <div class="text-center">今週</div>
    <div class="text-center">時間</div>
</div>

<p>全期間の合計時間 <%= @total_time_all %> </p>

<p>直近一か月の合計時間 <%= @total_time_month %> </p>

<p>直近1週間の合計時間 <%= @total_time_week %> </p>


<body>
    <div class="time-container">
        <h1 class="practice_time">練習時間入力</h1>
        <button class="time-button">
            <%= link_to "練習時間履歴", time_index_path %>
        </button>
    </div>
</body>

<div class="d-flex justify-content-center">
    <%= form_with model: Tabletennistime, url: tabletennis_index_path, method: :post do |f| %>
        <div class="form-group ">
            <%= f.label :date, "日付" %>
            <%= f.date_field :date, class: 'form-control', required: true %>

            <%= f.label :hour, "時間" %>
            <%= f.select :hour, (0..8), { include_blank: '時間を入力（最大8時間）' }, { required: true, class: 'form-control' } %>

            <%= f.label :minutes, "分" %>
            <%= f.select :minutes, [0, 15, 30, 45], { include_blank: '分を入力（15分毎）' }, { required: true, class: 'form-control' } %>
        </div>

        <div class="text-center">
            <%= f.submit "練習時間を保存", class: 'btn btn-primary' %>
        </div>
    <% end %>
</div>



<h1 class="center_position">~現在の練習メニュー~</h1>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<body>
    <div class="titile-button">
        <div class="Practice-Title">練習タイトルのみ</div>
        <div class="delete-button">削除</div> 
    </div>
</body>

<div class="text-center">
<%= link_to "練習一覧はこちら", index_post_path, class: "btn btn-link" %>
</div>